.Weather {
  text-align: center;
  font-family: monospace;
  background-color: #0A1172;
  margin-left : 20% ;
  margin-right: 20%;
  margin-top : 2%;
  color: white; 
  padding: 5%;
  border: 1px solid black;
  height: 50%;
  width: 60%;
  border-radius: 20px;
}

#temp{
  font-size: 3vw;
}

#data{
  font-size: 2vw;
}

@media screen and (max-width: 480px) {
  .Weather {
    text-align: center;
    font-family: monospace;
    background-color: #0A1172;
    margin-left : 2% ;
    margin-right: 2%;
    margin-top : 25%;
    color: white; 
    padding: 5%;
    border: 1px solid black;
    height: auto;
    width: 96%;
    border-radius: 20px;
  }
  
#temp{
  font-size: 8vw;
}

#data{
  font-size: 5vw;
}
  
}
@media screen and (max-width: 367px) {
  
#temp{
  font-size: 6vw;
}

#data{
  font-size: 3vw;
}
  
}